<!-- About-->
<section class="resume-section" id="about">
	<div class="resume-section-content">
		<h1 class="mb-0">{{ resume.first_name }} <span class="text-primary">{{ resume.last_name }}</span></h1>
		<div class="subheading mb-5">
			{{ resume.place }} · {{ resume.country }} · <a href="mailto:{{ resume.contact }} ">{{ resume.contact }}</a>
		</div>
		<p class="lead mb-5 text-justify">
			{{ resume.description|safe|linebreaks }}
		</p>
		{% if socials %}
		<div class="social-icons">
			{% for link in socials %}
			<a class="social-icon" href="{{ link.url }}" title="{{ link.title }}" target="_blank" rel="noreferrer">
				<i class="{{ link.icon }}"></i>
			</a>
			{% endfor %}
		</div>
		{% endif %}
	</div>
</section>
<hr class="m-0" />
