<!-- About-->
<section class="resume-section" id="about">
	<div class="resume-section-content">
		<h1 class="mb-0">Guillaume <span class="text-primary">Ojardias</span></h1>
		<div class="subheading mb-5">
			Paris · France · <a href="mailto:contact@ojardias.io">contact@ojardias.io</a>
		</div>
		<p class="lead mb-5">
			Après 10 années dans le domaine de la construction en tant que dessinateur puis
			formateur, j'ai décidé de faire une reconversion professionnelle pour devenir
			développeur.<br>
			En juillet 2019, j'ai débuté une formation en ligne dispensée par <a
				href="https://openclassrooms.com/" target="_blank" rel="noreferrer">OpenClassrooms</a> :
			Développeur d'Application -
			Python.<br>
			Aujourd'hui, je suis à l'écoute de toute opportunité pour un poste de
			développeur Python sur Paris.
		</p>
		<div class="social-icons">
			<a class="social-icon" href="https://www.linkedin.com/in/guillaume-ojardias-91a46643/">
				<i class="fab fa-linkedin-in"></i>
			</a>
			<a class="social-icon" href="ihttps://github.com/GuillaumeOj">
				<i class="fab fa-github"></i>
			</a>
		</div>
	</div>
</section>
<hr class="m-0" />
