<!-- Credits -->
<section class="resume-section" id="credits">
	<div class="resume-section-content">
		<h2 class="mb-0">Credits</h2>
		<h3 class="subheading mb-5">Tools used for this website</h3>
		<ul>
			<li>Back-end:
				<ul>
					<li>
						Coded with <a href="https://www.djangoproject.com/" target="_blank" rel="noreferrer">Django</a>
					</li>
					<li>
						Code formatting <a href="https://github.com/psf/black" target="_blank" rel="noreferrer">Black</a>
					</li>
					<li>
						PEP8's rules
						<a href="https://github.com/rocioar/flake8-django" target="_blank" rel="noreferrer">Flake8 for Django</a>
					</li>
				</ul>
			</li>
			<li>Front-end:
				<ul>
					<li>
						Template "Resume" from
						<a href="https://startbootstrap.com/" target="_blank" rel="noreferrer">Start Bootstrap</a>
					</li>
				</ul>
			</li>
			<li>Tools:
				<ul>
					<li>The best IDE in the world: <a href="https://www.vim.org" target="_blank" rel="noreferrer">Vim</a></li>
				</ul>
			</li>
			<li>Host:
				<ul>
					<li>Hosted by <a href="https://www.digitalocean.com" target="_blank" rel="noreferrer">Digital Ocean</a></li>
				</ul>
			</li>
		</ul>
	</div>
</section>
