<!-- Education-->
<section class="resume-section" id="education">
	<div class="resume-section-content">
		<h2 class="mb-5">Formation</h2>
		<div class="d-flex flex-column flex-md-row justify-content-between mb-5">
			<div class="flex-grow-1">
				<h3 class="mb-0">OpenClassrooms</h3>
				<p class="subheading mb-3">Développeur d'application Python</p>
			</div>
			<div class="flex-shrink-0"><span class="text-primary">Juillet 2019 - Actuellement</span></div>
		</div>
		<div class="d-flex flex-column flex-md-row justify-content-between mb-5">
			<div class="flex-grow-1">
				<h3 class="mb-0">REFSA</h3>
				<p class="subheading mb-3">Formation Revit</p>
			</div>
			<div class="flex-shrink-0"><span class="text-primary">Juin 2015</span></div>
		</div>
		<div class="d-flex flex-column flex-md-row justify-content-between mb-5">
			<div class="flex-grow-1">
				<h3 class="mb-0">IUT A Lyon 1</h3>
				<p class="subheading mb-3">DUT Génie Civil - Option Bâtiment</p>
			</div>
			<div class="flex-shrink-0"><span class="text-primary">Septembre 2007 - Juin 2009</span></div>
		</div>
		<div class="d-flex flex-column flex-md-row justify-content-between mb-5">
			<div class="flex-grow-1">
				<h3 class="mb-0">Lycée Jean-Batpiste de La Salle</h3>
				<p class="subheading mb-3">Baccalauréat Scientifique - Option Sciences de l'Ingénieur
				</p>
			</div>
			<div class="flex-shrink-0"><span class="text-primary">Septembre 2005 - Juin 2007</span></div>
		</div>
	</div>
</section>
<hr class="m-0" />
