<!-- Education-->
<section class="resume-section" id="education">
	<div class="resume-section-content">
		<h2 class="mb-5">Formation</h2>
		{% if education_experiences %}
		{% for experience in education_experiences %}
		<div class="d-flex flex-column flex-md-row justify-content-between mb-5">
			<div class="flex-grow-1">
				<h3 class="mb-0">{{ experience.title }}</h3>
				<div class="subheading mb-3">{{ experience.subtitle }}</div>
				<p>{{ experience.description }}</p>
			</div>
			<div class="flex-shrink-0">
				<span class="text-primary">
					{{ experience.start|date:"M-Y" }} / {{ experience.end|date:"M-Y" }}
				</span>
			</div>
		</div>
		{% endfor %}
		{% endif %}
	</div>
</section>
<hr class="m-0" />
