<!-- Experience-->
<section class="resume-section" id="experience">
	<div class="resume-section-content">
		<h2 class="mb-5">Expérience</h2>
		<div class="d-flex flex-column flex-md-row justify-content-between mb-5">
			<div class="flex-grow-1">
				<h3 class="mb-0">Consultant technique</h3>
				<div class="subheading mb-3">Allplan France</div>
				<p>
					Formation des nouveaux clients à l’utilisation des logiciels Allplan et Solibri.
					Démonstrations d’avant vente des solutions vendues par Allplan France. Support
					technique de niveau 2 sur le logiciel Allplan Structure.
				</p>
			</div>
			<div class="flex-shrink-0"><span class="text-primary">Avril 2018 - Juillet 2019</span></div>
		</div>
		<div class="d-flex flex-column flex-md-row justify-content-between mb-5">
			<div class="flex-grow-1">
				<h3 class="mb-0">Dessinateur projeteur</h3>
				<div class="subheading mb-3">Betrec Ig</div>
				<p>
					Réalisation de plans de coffrage et d’armatures sur des projets de
					bâtiments de logements, tertiaires, universitaires.
				</p>
			</div>
			<div class="flex-shrink-0"><span class="text-primary">Octobre 2013 - Janvier 2018</span></div>
		</div>
		<div class="d-flex flex-column flex-md-row justify-content-between mb-5">
			<div class="flex-grow-1">
				<h3 class="mb-0">Dessinateur projeteur</h3>
				<div class="subheading mb-3">Ingérop</div>
				<p>
					Réalisation de plans de coffrage et d’armatures sur des projets de
					génie civil (mission d’intérim).
				</p>
			</div>
			<div class="flex-shrink-0"><span class="text-primary">Novembre 2012 - Avril 2013</span></div>
		</div>
		<div class="d-flex flex-column flex-md-row justify-content-between mb-5">
			<div class="flex-grow-1">
				<h3 class="mb-0">Technicien d'études</h3>
				<div class="subheading mb-3">APC Etanch'</div>
				<p>
					Métrés des projets et établissement d’une offre de prix (marchés publics et
					privés).
					Réalisation d’un dossier QUALIBAT pour l’obtention de la qualification 3213.
				</p>
			</div>
			<div class="flex-shrink-0"><span class="text-primary">Novembre 2011 - Novembre 2012</span></div>
		</div>
	</div>
	</div>
</section>
<hr class="m-0" />
