<!-- Experience-->
<section class="resume-section" id="experience">
	<div class="resume-section-content">
		<h2 class="mb-5">Expérience</h2>
		{% if pro_experiences %}
		{% for experience in pro_experiences %}
		{% if experience.path.title == "Expérience" %}
		<div class="d-flex flex-column flex-md-row justify-content-between mb-5">
			<div class="flex-grow-1">
				<h3 class="mb-0">{{ experience.title }}</h3>
				<div class="subheading mb-3">{{ experience.subtitle }}</div>
				<p>{{ experience.description }}</p>
			</div>
			<div class="flex-shrink-0">
				<span class="text-primary">
					{{experience.start }} - {{ experience.end }}
				</span>
			</div>
		</div>
		{% endif %}
		{% endfor %}
		{% endif %}
	</div>
	</div>
</section>
<hr class="m-0" />
