<!-- Interests-->
<section class="resume-section" id="interests">
	<div class="resume-section-content">
		<h2 class="mb-5">Centres d'intérêts</h2>
		<p class="mb-0">
			Pour me changer les idées, je pratique deux activités physiques :
		</p>
		<ul class="interests-list">
			<li class="run">
				La course à pied. Objectif : réaliser le marathon de Paris.
			</li>
			<li class="squat_overhead">
				Le Crossfit : véritable exutoire permettant le dépassement de soit.
			</li>
		</ul>
		<p class="mb-0">
			Parce qu'on a toujours besoin de réconfort après l'effort :
		</p>
		<ul class="interests-list">
			<li class="movies">
				J'apprécie de regarder des films avec un faible pour "Les tontons flingueurs".
			</li>
			<li class="books">
				Et pour varier les plaisirs j'aime lire et relire les exemplaires de ma collection de
				BD.
			</li>
		</ul>
		<br>
		<br>
		</p>
	</div>
</section>
<hr class="m-0" />
