<!-- Interests-->
<section class="resume-section" id="interests">
	<div class="resume-section-content">
		<h2 class="mb-5">Centres d'intérêts</h2>
		<p>
			Pour un esprit sain dans un corps sain, je pratique deux activités physique régulières.<br>
			La première est la course à pieds. Objectif, réaliser le marathon de Paris !<br>
			La deuxième est la pratique du Crossfit. Véritable exutoire permettant le dépassement de
			soi.<br>
		</p>
		<p>
			Parce qu'on a toujours besoin de réconfort après l'effort, j'apprécie de regarder des films avec
			un faible pour "Les tontons flingueurs".<br>
			Et pour varier les plaisirs j'aime lire et relire les exemplaires de ma collection de BD qui
			n'aura jamais assez de place !<br>
		</p>
	</div>
</section>
<hr class="m-0" />
