<!-- Path progression -->
<section class="resume-section" id="progress">
	<div class="resume-section-content">
		<h2 class="mb-1">Progression</h2>
		{% if projects %}
		<div class="progress mb-3">
			{% with progression=projects.progression|floatformat %}
			<div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar"
				style="width:{{progression}}%" aria-valuenow="{{ progression }}" aria-valuemin="0" aria-valuemax="100">
				{{ progression }}%
			</div>
			{% endwith %}
		</div>
		<p class=" subheading my-0">Projets du parcours :</p>
		<div class="row justify-content-center">
			<ul class="list-group projects">
				{% for project in projects.projects %}
				<li class="list-group-item">
					{% with properties="mr-2 nf nf-fa-" %}
					{% if project.achieved %}
					<i class="{{ properties }}check_circle_o"></i>
					{% elif project.pending %}
					<i class="{{ properties }}play_circle_o"></i>
					{% else %}
					<i class="{{ properties }}circle_o"></i>
					{% endif %}
					{% endwith %}
					<span>{{ project.name }}</span>
				</li>
				{% endfor %}
			</ul>
		</div>
		{% endif %}
	</div>
</section>
<hr class="m-0" />
