<!-- Path progression -->
<section class="resume-section" id="progress">
	<div class="resume-section-content">
		<h2 class="mb-5">Progression</h2>
		<p class="subheading my-0">Avancement sur la parcours développeur d'application :</p>
		<div class="progress mb-3">
			<div class="progress-bar progress-bar-striped progress-bar-animated bg-primary"
				role="progressbar" style="width: 61.5%" aria-valuenow="61.5" aria-valuemin="0"
				aria-valuemax="100">
				61.5%
			</div>
		</div>
		<div class="row justify-content-center">
			<ul class="col projects mx-1 pl-0">
				<li>
					<i class="nf nf-fa-check_circle_o align-middle"></i>
					Définissez votre stratégie d'apprentissage !
				</li>
				<li>
					<i class="nf nf-fa-check_circle_o align-middle"></i>
					Intégrez la communauté OpenClassrooms !
				</li>
				<li>
					<i class="nf nf-fa-check_circle_o align-middle"></i>
					Aidez MacGyver à s'échapper !
				</li>
				<li>
					<i class="nf nf-fa-check_circle_o align-middle"></i>
					Analysez les besoins de votre client.
				</li>
				<li>
					<i class="nf nf-fa-check_circle_o align-middle"></i>
					Utilisez les données publiques de l'OpenFoodFacts.
				</li>
				<li>
					<i class="nf nf-fa-check_circle_o align-middle"></i>
					Concevez une solution technique.
				</li>
				<li>
					<i class="nf nf-fa-check_circle_o align-middle"></i>
					Créez GranPy Bot, le papy-robot.
				</li>
			</ul>
			<ul class="col projects mx-1 pl-0">
				<li>
					<i class="nf nf-fa-play_circle_o align-middle"></i>
					Créez une plateforme pour les amateurs de Nutella.
				</li>
				<li>
					<i class="nf nf-fa-circle_o align-middle"></i>
					Documentez votre système de gestion de pizzeria.
				</li>
				<li>
					<i class="nf nf-fa-circle_o align-middle"></i>
					Déployez votre application sur un serveur comme un pro.
				</li>
				<li>
					<i class="nf nf-fa-circle_o align-middle"></i>
					Améliorez un projet existant en Python.
				</li>
				<li>
					<i class="nf nf-fa-circle_o align-middle"></i>
					Effectuez un stage ou construisez une veille.
				</li>
				<li>
					<i class="nf nf-fa-circle_o align-middle"></i>
					Projet final : prêt pour le feu d'artifices ?
				</li>
			</ul>
		</div>
	</div>
</section>
<hr class="m-0" />
