<!-- Skills-->
<section class="resume-section" id="skills">
	<div class="resume-section-content">
		<h2 class="mb-5">Compétences</h2>
		<p class="subheading mb-3">Langages de programmation et outils</p>
		<ul class="list-inline dev-icons">
			<li class="list-inline-item"><i class="nf nf-dev-python"></i></li>
			<li class="list-inline-item"><i class="nf nf-dev-django"></i></li>
			<li class="list-inline-item"><i class="nf nf-dev-html5"></i></li>
			<li class="list-inline-item"><i class="nf nf-dev-css3"></i></li>
			<li class="list-inline-item"><i class="nf nf-dev-javascript"></i></li>
			<li class="list-inline-item"><i class="nf nf-dev-bootstrap"></i></li>
			<li class="list-inline-item"><i class="nf nf-dev-mysql"></i></li>
			<li class="list-inline-item"><i class="nf nf-dev-vim"></i></li>
			<li class="list-inline-item"><i class="nf nf-dev-git"></i></li>
			<li class="list-inline-item"><i class="nf nf-fa-github"></i></li>
		</ul>
		<p class="subheading mb-3">Méthodes de travail</p>
		<ul class="fa-ul mb-0">
			<li>
				<span class="fa-li"><i class="fas fa-check"></i></span>Méthode agile
			</li>
			<li>
				<span class="fa-li"><i class="fas fa-check"></i></span>Test Driven Development
			</li>
		</ul>
	</div>
</section>
<hr class="m-0" />
