{% extends "base.html" %}
{% block title %}Crédits{% endblock title %}
{% block content %}
<!-- Credits -->
<section class="resume-section" id="about">
	<div class="resume-section-content">
		<h1 class="mb-0">Crédits</h1>
		<p class="subheading mb-5">Outils pour la réalisation de ce site</p>
		<ul>
			<li>Back-end :
				<ul>
					<li>Codé avec <a href="https://www.python.org/" target="_blank"
							rel="noreferrer">Python</a></li>
					<li>Utilisation du framework <a href="https://www.djangoproject.com/"
							target="_blank" rel="noreferrer">Django</a></li>
					<li>Outil de gestion des dépendances <a href="https://python-poetry.org/"
							target="_blank" rel="noreferrer">Poetry</a></li>
					<li>Formatage du code avec <a href="https://github.com/psf/black"
							target="_blank" rel="noreferrer">Black</a></li>
					<li>Respect de la PEP8 grâce à <a href="https://github.com/PyCQA/pylint-django"
							target="_blank" rel="noreferrer">Pylint for django</a></li>
				</ul>
			</li>
			<li>Front-end :
				<ul>
					<li>Thème "Resume" réalisé par <a href="https://startbootstrap.com/"
							target="_blank" rel="noreferrer">Start Bootstrap</a></li>
					<li>Icônes fournies en partie par <a href="https://www.nerdfonts.com/"
							target="_blank" rel="noreferrer">Nerd Fonts</a></li>
				</ul>
			</li>
			<li>Outils :
				<ul>
					<li>Codé simplement dans <a href="https://www.vim.org" target="_blank"
							rel="noreferrer">Vim</a></li>
				</ul>
			</li>
		</ul>
	</div>
</section>
{% endblock content %}
